@font-face {
    font-family: Dosis;
    src: url(/assets/dosis/Dosis-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #16772c;
}

a:hover {
  text-decoration: none;
  color: #b76839;
}

p {
  text-shadow:0 0 0 #f00, 0 0 1px transparent;
}

.header {
  height: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.noPad {
	padding: 0;
}

.Experience {
  background-image: url('/assets/projectsbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Welcome {
  background-image: url('/assets/rockTurtle.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.AboutMe {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("/assets/wood.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Education {
  background-image: url('/assets/experiencesbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Skills {
  background-image:
    url('/assets/ocean.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}


.Footer {
  background-color: #000914;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}