@font-face {
    font-family: Dosis;
    src: url(/assets/dosis/Dosis-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #16772c;
}

a:hover {
  text-decoration: none;
  color: #b76839;
}

p {
  text-shadow:0 0 0 #f00, 0 0 1px transparent;
}

.sectionHeader {
  height: 150px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.header {
  height: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.noPad {
	padding: 0;
}

.photo {
  border-radius: 5%;
  width: 95%;
  height: 95%;
  margin-bottom: 30px;
   -webkit-box-shadow: 0 5px 10px #777;
   -moz-box-shadow: 0 5px 10px #777;
   box-shadow: 0 5px 10px #777;
}

.Photo {
  display:flex;
  align-items: center;
  justify-content: center;
}

.Welcome {
  background-image: url('/assets/climb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.AboutMe {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.5)
    ),
    url("/assets/wood.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: left;
  font-size: 80%;
  margin-bottom: 10px;
}

.Education {
  background: url("/assets/experiencesbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: center;
  margin-bottom: 10px;
  padding-bottom: 20px
}

.Company {
  background: #1b2127;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  font-size: 75%;
  color: #e5ebed;
  position: center;
  margin-bottom: 10px;
  padding-bottom: 20px
}

.Skills {
  background-image: url('/assets/ocean.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 75%;
  text-align: left;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.Footer {
  background-color: #000914;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}